<?xml version="1.0" encoding="UTF-8" ?>
<taglib 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
    version="2.1">

    <display-name>Custom Functions</display-name>    
    <tlib-version>1.0</tlib-version>
    <short-name>efn</short-name>
    <uri>/WEB-INF/spring/tld/func.tld</uri>

		<function>
			<name>unescapeHtml4</name>
			<function-class>org.apache.commons.lang3.StringEscapeUtils</function-class>
			<function-signature>java.lang.String unescapeHtml4(java.lang.String)</function-signature>
		</function>
    
		<function>
			<name>unescapeXml</name>
			<function-class>org.apache.commons.lang3.StringEscapeUtils</function-class>
			<function-signature>java.lang.String unescapeXml(java.lang.String)</function-signature>
		</function>
    
		<function>
    		<description>문자열에 속한 html 태그 모두 제거</description>
			<name>removeHtmlTag</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String removeHtmlTag(java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 태그 정리 [ ', \n 등 ]</description>
			<name>strContentsFormat</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String strContentsFormat(java.lang.String, java.lang.String)</function-signature>
		</function>

		<function>
			<description>에디터 사용 문자열 태그 정리 [ ', \n 등 ]</description>
			<name>strEditorContentsFormat</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String strEditorContentsFormat(java.lang.String, java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 뒤에 공백 추가 [ str > 홍길동, return 홍 길 동 ]</description>
			<name>getStringWidthWhitespace</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String getStringWidthWhitespace(java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 인코드</description>
			<name>encode</name>
			<function-class>com.spring.cms.framework.util.FileScrty</function-class>
			<function-signature>java.lang.String encode(java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 디코드</description>
			<name>decode</name>
			<function-class>com.spring.cms.framework.util.FileScrty</function-class>
			<function-signature>java.lang.String decode(java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 암호화</description>
			<name>encrypt</name>
			<function-class>com.spring.cms.framework.util.FileScrty</function-class>
			<function-signature>java.lang.String encrypt(java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 마스킹 처리 (int -> 1 : 이름, 2 : 연락처, 3 : 이메일)</description>
			<name>getMaskData</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String getMaskData(java.lang.String, int)</function-signature>
		</function>
    
		<function>
			<description>문자열 복호화</description>
			<name>decrypt</name>
			<function-class>com.spring.cms.framework.util.FileScrty</function-class>
			<function-signature>java.lang.String decrypt(java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>지정한 길이 만큼 문자열 리턴</description>
			<name>getLimitStr</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String getLimitStr(java.lang.String, int)</function-signature>
		</function>
    
		<function>
			<description>문자열 추가 - 좌측에 문자열 추가</description>
			<name>lpad</name>
			<function-class>org.apache.commons.lang3.StringUtils</function-class>
			<function-signature>java.lang.String leftPad(java.lang.String, int, java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 추가 - 우측에 문자열 추가</description>
			<name>rpad</name>
			<function-class>org.apache.commons.lang3.StringUtils</function-class>
			<function-signature>java.lang.String rightPad(java.lang.String, int, java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 검색 - array에서 문자열을 찾은 후 인덱스 번호 전달</description>
			<name>indexOfArr</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>int indexOf(java.lang.String[], java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>문자열 검색 - array에서 문자열을 찾은 후 인덱스 번호 전달</description>
			<name>indexOfList</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>int indexOf(java.util.List, java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>JSON 데이터 가져오기</description>
			<name>getJSON</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String getJSON(java.lang.String, java.lang.String) </function-signature>
		</function>

		<function>
			<description>문자열 인코딩</description>
			<name>urlEncode</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String urlEncode(java.lang.String, java.lang.String) </function-signature>
		</function>
    
		<function>
    	<description>랜덤 INT 리턴</description>
			<name>getRandomNum</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>int getRandomNum(int, int)</function-signature>
		</function>
    
		<function>
			<description>공통 코드 명칭 가져오기</description>
			<name>getCodeName</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String getCodeName(java.util.List, java.lang.String, java.lang.String)</function-signature>
		</function>
    
		<function>
			<description>공통 코드 명칭 가져오기 - 리턴 컬럼</description>
			<name>getCodeNameWithCol</name>
			<function-class>com.spring.cms.framework.util.StringUtil</function-class>
			<function-signature>java.lang.String getCodeName(java.util.List, java.lang.String, java.lang.String, java.lang.String)</function-signature>
		</function>
    
</taglib>